band  {
  display:inline-block;
  margin: 2em 1em;
  color: blue;
  font-weight: bold;
  padding: 0px 1em;
  background-color: white;
	position: static;
	
  }
 placeinfo  {
 display: inline-block;
  color: blue;
  font-weight: bold;
  
  background-color: white;
  right: 30px;

  }

  showtimes{
  	display: block;
  color: blue;
  font-weight: bold;
  align-content: left;
  background-color: white;
  margin-left: 30px;
  margin-top:10px;
  }
  genre{
  	color: maroon;
  	display: block;
  	margin-left: 80px;
  	font-style: italic;
  	 display: inline-block;
  	 margin-top: 30px;
  }

  perfomers{
  	display: block;
  	margin-top: 20px;
  	color: orange;
  	margin-left: 120px;
}
ticket{
	display:inline-block;
	margin-right: 50px;

}
price{
	margin-top: 20px;
	display: inline-block;
	color: orange;
	margin-left: 120px;
}
type{
	display: inline-block;
	color: orange;
	margin-left: 30px;
}
discounts{
	display: inline-block;
	color: orange;
	margin-left: 30px;
}
seller{
	margin-top: 20px;
	display: block;
	color: black;
	font-weight: bold;
	margin-left: 80px;
}